{% extends "dashboards/_base.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <!-- tag_confirm_delete.html -->
  <form method="post" class="bg-white shadow-md rounded-lg p-6">
    {% csrf_token %}
    <p>¿Está seguro de eliminar "{{ article.slug }}"?</p>
    <form method="post">
      {% csrf_token %}
      <p>Esta acción no se puede deshacer.</p>
      <p>¿Desea continuar?</p>
      {{ form|crispy }}
      <button class="mt-4 bg-red-600 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded-xl shadow-md transition duration-300"
              type="submit">Confirmar eliminación</button>
    </form>
  </form>
{% endblock content %}
